/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

:root {
	--header-font: 'Serif';
}
 /* All Elements */
ul {
	list-style: none;
}
img {
	width: 150px;
	height: auto;
}

/* Header/Nav */
header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 2pt solid black;
	padding: 1em;
}
.site_title {
	margin-right: 3em;
}

/* Main Sections */
.main-container {
	display: flex;
}

/* SideBar */
aside {
	width: 25%;
	height: 100%;
	border-right: 2pt solid black;
}
aside li {
	width:100%;
}
 /* Main Display */
main {
	width: 100%;
	padding: 1em;
}
main > h2{
	width: 100%;
	text-align: center;
}
.todo-div > * {
	display: inline;
}
